<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>HiveMind</string>
		<key>description</key>
		<string>The HiveMind AI. Are you ready?</string>
		<key>iconName</key>
		<string>HiveMind/Easy</string>
		<key>endpoint</key>
		<string>http://localhost:8080/</string>
	</dict>
</array>
</plist>
